
.icon-basket:before { content: '\e800'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */
.icon-grav:before { content: '\f2d6'; } /* '' */
.icon-wpexplorer:before { content: '\f2de'; } /* '' */